<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./horizontal.css">
    </head>
    <body>
        <!--the complexity of this template is the fact that it allows to create slides and navigation elements centered vertically and horizontally. -->
        
        <!-- slideshow  -->
        <div class="slideshow">
                
            <a href="#" class="button first">bt</a>
            <a href="#" class="button previous">bt</a>
            <a href="#" class="button play">bt</a>
            <a href="#" class="button pause">bt</a>
            <a href="#" class="button resume">bt</a>
            <a href="#" class="button stop">bt</a>
            <a href="#" class="button next">bt</a>
            <a href="#" class="button last">bt</a>

            <div class='scroller'>
                <div>
                    <div>HTML Content1</div>
                    <div>HTML Content2</div>
                    <div>HTML Content3</div>
                    <div>HTML Content4</div>
                    <div>HTML Content5</div>
                    <div>HTML Content6</div>
                    <div>HTML Content7</div>
                    <div>HTML Content8</div>
                    <div>HTML Content9</div>
                    <div>HTML Content10</div>
                    <div>HTML Content11</div>
                    <div>HTML Content12</div>
                    <div>HTML Content13</div>
                </div>
            </div>

            <div class='navigation'>
                <div>
                    <a href="#" class="button scroll_first">bt</a>
                    <a href="#" class="button scroll_previous">bt</a>
                    <div class='scroller'>
                        <div>
                            <a href="#">Nav1</a>
                            <a href="#">Nav2</a>
                            <a href="#">Nav3</a>
                            <a href="#">Nav4</a>
                            <a href="#">Nav5</a>
                            <a href="#">Nav6</a>
                            <a href="#">Nav7</a>
                            <a href="#">Nav8</a>
                            <a href="#">Nav9</a>
                            <a href="#">Nav10</a>
                            <a href="#">Nav11</a>
                            <a href="#">Nav12</a>
                            <a href="#">Nav13</a>
                        </div>
                    </div>
                    <a href="#" class="button scroll_next">bt</a>
                    <a href="#" class="button scroll_last">bt</a>
                </div>
            </div>
        </div>
        <!-- end slideshow -->
    </body>
</html>