
/* slideshow 
******************************************/
.slideshow{
    display: inline-block;
    overflow:  hidden;
    position: relative;
    text-align: center;
    width : 500px;/*what you want*/
}
.slideshow img{
    vertical-align: middle;
}
.slideshow a:active, .slideshow a:focus { 
    border:none;
    outline:none;
}
     /* image 
    ******************************************/
     .slideshow > .scroller{
         overflow: hidden;
         width : 500px;/*what you want*/
     }
     .slideshow > .scroller > div{
        display: table;
        table-layout: fixed;
        position: relative;
        width : 0;/*important disable auto width*/
     }
    .slideshow > .scroller > div > div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width : 500px;/*what you want*/
    }
        /* image button 
        ******************************************/
        .slideshow > .button{
            position: relative;
            display : inline-block;
            width : 25px;/*what you want*/
            height : 25px;/*what you want*/
            margin : 5px;/*what you want*/
        }
        .slideshow > .button.disabled{
            display : none;/*what you want*/
        }
        .slideshow > .button.first{
            /*what you want*/
        }
        .slideshow > .button.previous{
            /*what you want*/
        }
        .slideshow > .button.play{
            /*what you want*/
        }
        .slideshow > .button.pause{
            /*what you want*/
        }
        .slideshow > .button.resume{
            /*what you want*/
        }
        .slideshow > .button.stop{
            /*what you want*/
        }
        .slideshow > .button.next{
            /*what you want*/
        }
        .slideshow > .button.last{
            /*what you want*/
        }
        /* end image button
        ******************************************/
        
    /* end image
    ******************************************/

    
    /* navigation 
    ******************************************/
    .slideshow > .navigation{
        display: inline-table;
    }
    .slideshow >.navigation > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .slideshow > .navigation > div > *{
        float:left;
    }
    .slideshow > .navigation > div > .scroller{
        display: inline-block;
        overflow: hidden;
        max-width : 350px;/*what you want*/
    }
    
        /* navigation button
        ******************************************/
        .slideshow > .navigation > div > .button{
            width : 25px;/*what you want*/
            height : 25px;/*what you want*/
            margin : 5px;/*what you want*/
        }
        .slideshow > .navigation > div > .button.scroll_first{
            /*what you want*/
        }
        .slideshow > .navigation > div > .button.scroll_previous{
            /*what you want*/
        }
        .slideshow > .navigation > div > .button.scroll_next{
            /*what you want*/
        }
        .slideshow > .navigation > div > .button.scroll_last{
            /*what you want*/
        }
        /* end navigation button
        ******************************************/
        
        
        /* navigation scroller & items
        ******************************************/
        .slideshow > .navigation > div > .scroller > div {
            display: table;
            table-layout: fixed;
            width : 0;/*disable auto width*/
        }
        .slideshow > .navigation > div > .scroller > div >  a{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width : 50px;/*what you want*/
            height : 38px;/*what you want*/
        }
        .slideshow > .navigation > div > .scroller > div >  a.selected{
            /*what you want*/
        }
        .slideshow > .navigation > div > .scroller > div >  a.scrolled{
            /*what you want*/
        }
        /* end navigation scroller & items
        ******************************************/
        
    /* end navigation
    ******************************************/
    
/* end slideshow 
******************************************/

