/* slideshow
******************************************/
.slideshow.basic{ 
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 30px #aaa;
}
.slideshow.basic a:active, .slideshow.basic a:focus { 
    border:none;
    outline:none;
}
    /* slides 
    ******************************************/
    .slideshow.basic > .pad{
        width : 500px;
        padding : 9px;
    }
    .slideshow.basic > .pad > .scroller{
        overflow: hidden;
    }
    .slideshow.basic > .pad > .scroller > .slides{
        display: table;
        table-layout: fixed;
        position: relative;
        width : 0;
    }
    .slideshow.basic > .pad > .scroller > .slides > div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width : 500px;
        height : 130px;
    }
    /* end slides
    ******************************************/

    /* player 
    ******************************************/
    .slideshow.basic > .player{
        position:relative;
        width : 520px;
    }
    .slideshow.basic > .player > *{
        display : inline-block;
        height : 25px;
        width : 25px;
        position : absolute;
        top : 55px;
        margin : 5px;
        z-index : 1000;
        background-image: url(../image/player_horizontal.png);
        background-repeat: no-repeat;
    }
    .slideshow.basic > .player > .previous{
        left : 0;
        background-position: -25px 0px;
    }
    .slideshow.basic > .player > .next{
        right : 0;
        background-position: -125px 0px;
    }
    /* end player
    ******************************************/

/* end slideshow 
******************************************/

