/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}



/* font
**************************/
@font-face {
  font-family: 'DSDIGI';
  font-style: normal;
  font-weight: 400;
  src: url(./font/DSDIGI.woff) format('woff');
}
body {
    font: 13px/21px "DSDIGI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: 13px/21px Helvetica, Arial, sans-serif;
    color: #5c5c5c;
}
a { 
    color: #7b8fc4;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}
a:hover { 
    color: #5c5c5c; 
}

h1, h2, h3, h4, h5, h6{
    font-family: "DSDIGI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {font-size: 1.5em;margin : 0.5em 0;}
h2 {font-size: 1.4em;margin : 0.4em 0;}
h3 {font-size: 1.3em;margin : 0.3em 0;}
h4 {font-size: 1.2em;margin : 0.2em 0;}
h5 {font-size: 1.1em;margin : 0.1em 0;}
h6 {font-size: 1em;margin : 0 0;}
/* end font
**************************/


/* global layout
**************************/
html, body{
    height : 100%;
}
#loader{
    position : absolute;
    z-index : 5000;
    height : 100%;
    width : 100%;
    background: #fff url('../image/loading.gif') no-repeat center;
    opacity : .5;
    display : none;
}
#wrapper{
    width : 800px;
    margin : 0 auto;
    padding :20px 0;
}
#header{
    width : 240px;
    float : left;
}
.section{
    width : 520px;
    padding :10px 0;
    float : right;
    display : none;
    text-align: center;
}
.doc{
    text-align: left;
}
#main{
    display : block;
}
#logo{
    margin-bottom: 20px;
}
/* end global layout
**************************/


/* tabs
**************************/
.tabs{
    border: 1px solid #ddd;
    box-shadow: 10px 10px 30px #aaa;
    margin-top : 40px;
    text-align : left !important;
}
.tabs > .tab{
    height : 35px;
    box-shadow: inset 0px -2px 5px #ddd;
}
.tabs > .tab  > div{
    display: inline-block;
}
.tabs > .tab  > div > a{
    display: block;
    vertical-align: middle;
    overflow:  hidden;
    text-align: center;
    line-height : 35px;
    padding : 0 20px;
}
.tabs > .tab > div > a.active{
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0px 5px #ddd;
    color : #5c5c5c;
    font-weight: bold;
}
.tabs > .tab_content{
    display : none;
    text-align : left;
    clear:both;
    overflow: auto;
    padding : 9px;
    overflow: hidden;
    position: relative;
    z-index : 1000;
    background: #fff;
}
.tabs > .tab_content > .pad{
    width : 500px;
    overflow: auto;
}
/* end tabs
**************************/



/* doc
**************************/
.doc .tab_content .item{
    margin-bottom : 10px;
    padding-bottom:  10px;
    padding-left:  15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: url('../image/item.gif') no-repeat 0  5px;
}
.doc .tab_content .item.private{
    display : none;
}
.doc .tab_content .item:hover{
    background: url('../image/item_hover.gif') no-repeat 0px  5px;
}
.doc .tab_content .item.open{
    background: url('../image/item_open.gif') no-repeat 0px  5px;
}
.doc > .tabs > .tab_content > .item > .desc{
    display : none;
    margin-top : 10px;
}
.doc .bold{
    font-weight: bold;
    margin: 10px 0;
}
.doc li{
    margin-left :  10px;
    margin-bottom :  10px;
}
.doc .class_description{
    margin-bottom: 10px;
}
.doc .tabs{
    margin-top: 10px;
}
/* end doc
**************************/
