
/* slideshow 
******************************************/
.slideshow{
    display: inline-table;
    overflow:  hidden;
    text-align: center;
    width : 600px;/*what you want*/
    height : 500px;/*what you want*/
}
.slideshow img{
    vertical-align: middle;
}
.slideshow a:active, .slideshow a:focus { 
    border:none;
    outline:none;
}

    /* slides
    ******************************************/
    
    .slideshow > .slides{
        display: table-cell;
        width : 500px;/*what you want*/
    }
    
    .slideshow > .slides > .scroller{
        overflow: hidden;
        height : 470px;/*what you want*/
    }
    .slideshow > .slides > .scroller > div{
        display: table;
        table-layout: fixed;
        width : 100%;
    }
    .slideshow > .slides > .scroller > div > div{
        display: table-row;
    }
    .slideshow > .slides > .scroller > div > div > div{
        display: table-cell;
        vertical-align: middle;
        height : 470px;/*what you want*/
    }
    
        /* slides button 
        ******************************************/
        .slideshow > .slides > .button{
            display: table;
            width : 100%;/*what you want*/
            height : 30px;/*what you want*/
        }
        .slideshow > .slides > .button > a{
            display: table-cell;
        }
        .slideshow > .slides > .button > .disabled{
            display : none;/*what you want*/
        }
        .slideshow > .slides > .button > .first{
            /*what you want*/
        }
        .slideshow > .slides > .button > .previous{
            /*what you want*/
        }
        .slideshow > .slides > .button > .play{
            /*what you want*/
        }
        .slideshow > .slides > .button > .pause{
            /*what you want*/
        }
        .slideshow > .slides > .button > .resume{
            /*what you want*/
        }
        .slideshow > .slides > .button > .stop{
            /*what you want*/
        }
        .slideshow > .slides > .button > .next{
            /*what you want*/
        }
        .slideshow > .slides > .button > .last{
            /*what you want*/
        }
        /* end slides button 
        ******************************************/
        
    /* end slides 
    ******************************************/
    
    
    /* navigation
    ******************************************/
    
    .slideshow > .navigation{
        display: table-cell;
        width : 100px;/*what you want*/
        border : 1px solid black;
    }
    
    .slideshow > .navigation > .scroller{
        overflow: hidden;
        height : 380px;/*what you want*/
    }
    .slideshow > .navigation > .scroller > div{
        display: table;
        table-layout: fixed;
        width : 100%;
    }
    .slideshow > .navigation > .scroller > div > div{
        display: table-row;
    }
    .slideshow > .navigation > .scroller > div > div > a{
        display: table-cell;
        vertical-align: middle;
        height : 30px;/*what you want*/
    }
    
        /* slides navigation 
        ******************************************/
        .slideshow > .navigation > .button{
            height : 25px;
        }
        .slideshow > .navigation > .button > a{
            display: block;
            width : 25px;
            height : 30px;/*what you want*/
        }
        .slideshow > .navigation > .button > a.first{
            /*what you want*/
        }
        .slideshow > .navigation > .button > a.previous{
            /*what you want*/
        }
        .slideshow > .navigation > .button > a.next{
            /*what you want*/
        }
        .slideshow > .navigation > .button > a.last{
            /*what you want*/
        }
        /* end navigation button 
        ******************************************/
    /* end navigation 
    ******************************************/
    
    
/* end slideshow 
******************************************/

