<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./vertical.css">
    </head>
    <body>
        <!--the complexity of this template is the fact that it allows to create slides and navigation elements centered vertically and horizontally. -->
        
        <!-- slideshow -->
        <div class="slideshow">
            
            <div class='slides'>
                <div class='button'>
                    <a href="#" class="first">bt</a>
                    <a href="#" class="previous">bt</a>
                    <a href="#" class="play">bt</a>
                    <a href="#" class="pause">bt</a>
                    <a href="#" class="resume">bt</a>
                    <a href="#" class="stop">bt</a>
                    <a href="#" class="next">bt</a>
                    <a href="#" class="last">bt</a>
                </div>
                
                <div class='scroller'>
                    <div>
                        <div>
                            <div>
                                HTML Content1
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content2
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content3
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content4
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content5
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content6
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content7
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content8
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content9
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content10
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content11
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content12
                            </div>
                        </div>
                        <div>
                            <div>
                                HTML Content13
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='navigation'>
                
                <div class='button'>
                    <a href="#" class="first">bt</a>
                    <a href="#" class="previous">bt</a>
                </div>
                
                <div class='scroller'>
                    <div>
                        <div>
                            <a href="#">Nav1</a>
                        </div>
                        <div>
                            <a href="#">Nav2</a>
                        </div>
                        <div>
                            <a href="#">Nav3</a>
                        </div>
                        <div>
                            <a href="#">Nav4</a>
                        </div>
                        <div>
                            <a href="#">Nav5</a>
                        </div>
                        <div>
                            <a href="#">Nav6</a>
                        </div>
                        <div>
                            <a href="#">Nav7</a>
                        </div>
                        <div>
                            <a href="#">Nav8</a>
                        </div>
                        <div>
                            <a href="#">Nav9</a>
                        </div>
                        <div>
                            <a href="#">Nav10</a>
                        </div>
                        <div>
                            <a href="#">Nav11</a>
                        </div>
                        <div>
                            <a href="#">Nav12</a>
                        </div>
                        <div>
                            <a href="#">Nav13</a>
                        </div>
                    </div>
                </div>
                
                <div class='button'>
                    <a href="#" class="next">bt</a>
                    <a href="#" class="last">bt</a>
                </div>
            </div>
        </div>
        <!-- end slideshow -->
    </body>
</html>