
/* slideshow (see template horizontal)
******************************************/
.slideshow.infinite_horizontal_scroll{
    display: inline-block;
    overflow:  hidden;
    width : 520px;/*what you want*/
    position: relative;
}
.slideshow.infinite_horizontal_scroll img{
    vertical-align: middle;
}
.slideshow.infinite_horizontal_scroll a:active, .slideshow.infinite_horizontal_scroll a:focus { 
    border:none;
    outline:none;
}
.slideshow.infinite_horizontal_scroll .loader{
    display : none;
    opacity : 0.5;
    width : 520px;
    height : 400px;
    z-index : 10;
    background: #fff url(../image/loading.gif) center no-repeat;
    position: absolute;
}
     /* slides 
    ******************************************/
     .slideshow.infinite_horizontal_scroll > .scroller{
         overflow: hidden;
        height : 400px;
         background: #f8f8f8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
     }
     .slideshow.infinite_horizontal_scroll > .scroller > div{
        display: table;
        table-layout: fixed;
        position: relative;
        width : 0;/*important disable auto width*/
     }
    .slideshow.infinite_horizontal_scroll > .scroller > div > div{
        display: table-cell;
        vertical-align: middle;
        overflow:  hidden;
        width : 518px;/*what you want*/
        text-align: center;
        height : 400px;
    }
        /* image button 
        ******************************************/
        .slideshow.infinite_horizontal_scroll > .button{
            position: relative;
            width : 25px;
            height : 25px;
            margin : 5px;
            display : inline-block;
            background-image: url(../image/player_horizontal.png);
            background-repeat: no-repeat;
        }
        .slideshow.infinite_horizontal_scroll > .button.disabled{
            display : none;
        }
        .slideshow.infinite_horizontal_scroll > .button.first{
            background-position: 0 0;
        }
        .slideshow.infinite_horizontal_scroll > .button.previous{
            background-position: -25px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.play{
            background-position: -50px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.pause{
            background-position: -75px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.resume{
            background-position: -50px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.stop{
            background-position: -100px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.next{
            background-position: -125px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .button.last{
            background-position: -150px 0px;
        }
        /* end image button
        ******************************************/
        
    /* end slides
    ******************************************/

    
    /* navigation 
    ******************************************/
    .slideshow.infinite_horizontal_scroll > .navigation{
        display: inline-table;
    }
    .slideshow.infinite_horizontal_scroll >.navigation > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .slideshow.infinite_horizontal_scroll > .navigation > div > *{
        float:left;
    }
    .slideshow.infinite_horizontal_scroll > .navigation > div > .scroller{
        max-width : 350px;/*what you want*/
        display: inline-block;
        overflow: hidden;
    }
    
        /* navigation button
        ******************************************/
        /*customisation*/
        .slideshow.infinite_horizontal_scroll > .navigation > div > .button{
            width : 25px;
            height : 25px;
            margin : 5px;
            background-image: url(../image/player_horizontal.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .button.first{
            background-position: 0 0;
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .button.previous{
            background-position: -25px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .button.next{
            background-position: -125px 0px;
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .button.last{
            background-position: -150px 0px;
        }
        /* end navigation button
        ******************************************/
        
        
        /* navigation scroller & items
        ******************************************/
        .slideshow.infinite_horizontal_scroll > .navigation > div > .scroller > div {
            display: table;
            table-layout: fixed;
            width : 0;/*disable auto width*/
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .scroller > div >  a{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width : 50px;/*what you want*/
            height : 38px;/*what you want*/
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .scroller > div >  a.selected{
            background-color: red;
        }
        .slideshow.infinite_horizontal_scroll > .navigation > div > .scroller > div >  a.scrolled{
            background-color: gray;
        }
        /* end navigation scroller & items
        ******************************************/
        
    /* end navigation
    ******************************************/
    
/* end slideshow 
******************************************/

